.layout {
  background: #f6f6f6;
  border-radius: 4rem;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  justify-content: center;
  padding: 6rem 18rem;
  position: relative;
  &__background-circle {
    position: absolute;
    width: 22rem;
    height: 22rem;
    opacity: 0.45;
    filter: blur(158.5px);
    &--yellow {
      left: 14rem;
      top: 34rem;
      background: #dda82a;
    }
    &--blue {
      left: 34rem;
      top: 55rem;
      background: #4461f2;
    }
  }
}
